/* ================================================================== */

/* a. Common Styles

/* ================================================================== */

.section-head h2 { font: 30px/42px montserrat-bold, sans-serif; }
.desc { font: 14px/24px opensans-regular, sans-serif; }
.intro { font: 20px/36px opensans-light, sans-serif; }
.logo h2{ color:#ffffff; margin-top:-10px;}
.logo h2:after{ content:"."; font-size:22px; color:#0f9095; margin-top:-10px;}
input[type="text"].search-box,.go-btn{
	padding:0;
	float:left;
}
.loading{
    background: #000000;
    bottom: 16%;
    color: #ffffff;
    left: 14%;
    opacity: 0.7;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 71%;
    z-index: 5;
}
h2 span{
	text-transform:capitalize;
}
input[type="text"].search-box{
	margin:3% 2% 0 0;	
}
button.go-btn{
	padding:0 5px;
	margin:2% 0 0 0;
}
.search-wrapper {
    position:fixed;
    z-index: 200;
	width:30%;
	right:25%;
}.
.section-head h2 .back{
	float:right;
}
.data-list{
	height:250px; min-height:570px; overflow:auto;
}
.data-list-wrapper .item-wrap img{
	width:217px;
	height:228px;
}
.data-list-item-meta h5 {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#0f9095;
  font:13px/24px montserrat-bold,sans-serif;
}
.track-list, track-list li{
	padding:0;
	margin:0 0 20px 10px;

}
.track-list{
	clear:both;
}
.track-list li{
	padding:15px 10px;
	margin:0;
	border-bottom:1px solid #666;
}
.track-list li:hover{
	background:#ffffff;
	/*color:#fff;*/
}
.track-wrapper {
	border:1px solid #ccc;
	margin-bottom:30px;
	padding:20px 5px;
}
.track-wrapper img{
	margin-left:10px;
}
.del{
	background:url(../images/delete-icon.png) no-repeat scroll 0 -3px;
	width:28px;
	height:28px;
	display:inline-block;
	cursor:pointer;
}
.play{
	background:url(../images/play-icon.png) no-repeat scroll 0 -3px;
	width:32px;
	height:32px;
	display:inline-block;
}
.fav{
	background:url(../images/plus-icon.png) no-repeat scroll 0 3px;
	width:32px;
	height:32px;
	display:inline-block;
	margin-right:5px;
	cursor:pointer;	
}
.favItems{
	background:url(../images/plus-icon.png) no-repeat scroll 0 -2px;
	width:32px;
	height:32px;
	float:left;
	margin:0 5px;
	cursor:pointer;	
}
.button-groups{
	float:right;
}
/* Left clearing for flexible columns - columns that changes width in
different screen sizes. Makes columns with different heights align
properly.
--------------------------------------------------------------------- */
.first { clear: left; }   /* first column in default screen */
.m-first { clear: none; } /* first column in medium size screens */

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides, .flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; }

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
    content: " ";
    display: table;
}
.slides:after {
    clear: both;
}

/* ================================================================== */

/* b. Header Styles

/* ================================================================== */

header {
   height: 54px;
   width: 100%;
   z-index: 100;
   background: url(../images/k-opacity-70.png);

   position: fixed;
   top: 0;
   left: 0;
}
header.static {
   background: #232629;
   position: static;
}

/* header logo */
header .logo {
   position: relative;
   height: 54px;
   width: 150px;
   float: left;
}
header .logo a {
   display: block;
   padding: 0;
   margin: 0;
   height: 18px;
   width: 91px;
   line-height: 18px;

   position: absolute;
   left: 12px;
   top: 16px;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	position: relative;
   font: 13px opensans-regular, sans-serif;
   float: left;
}

/* hide toggle button */
#nav-wrap > a { display: none; }

ul#nav {
   min-height: 54px;
   width: auto;

   /* left align the menu */
   text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
   height: 54px;

   display: inline-block;
}
ul#nav > li.active a {
   background: #11ABB0;
   color: #fff !important;
}

/* Links */
ul#nav li a {
   display: block;
   padding: 0 14px;
   line-height: 54px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li:hover > a,
ul#nav li.active a { color: #11ABB0; }



/* ================================================================== */

/* c. Intro Section

/* ================================================================== */

#intro {
   background: #111 url(../images/intro-bg.jpg) no-repeat center;
   overflow: hidden;
}

/* FlexSlider Intro Slider Styles */
.slides {
   max-height: 660px;
   overflow: hidden;
}
.slider-text {
	color: #737E8C;
   text-align: center;
   width: 85%;
   margin: 156px auto 66px auto;
}
.slider-text h2 {
   font: 56px/78px montserrat-regular, Sans-serif;
   color: #fff;
   text-shadow: 0px 1px 5px rgba(50, 50, 50, .5);
   padding: 0;
   margin: 0;
}
.slider-text h2 span,
.slider-text a { color: #11ABB0; }

.slider-text p {
   font: 17px/36px opensans-light, sans-serif;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
   padding: 0;
   margin: 18px 10% 0;
}


/* Direction Navigation
--------------------------------------------------------------- */
.flex-direction-nav a {
   display: block;
	width: 40px;
	height: 66px;
	margin: 0;
	background-color: #2D3339;
	cursor: pointer;
	z-index: 99999;
	opacity: 0;
   position: absolute;
	top: 50%;

   font: 0/0 a;
   text-shadow: none;
   color: transparent;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.flex-direction-nav a:hover { background-color: #11ABB0; }

.flex-direction-nav .flex-next {
	right: 0px;
	background: #2D3339 url(../images/direction-nav-right.png) no-repeat 53% 50%;
	position: absolute;
}
.flex-direction-nav .flex-prev {
	left: 0px;
	background: #2D3339 url(../images/direction-nav-left.png) no-repeat 47% 50%;
	position: absolute;
}
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev { opacity: 1; }
.flex-direction-nav .flex-disabled {
   opacity: .3 !important;
   filter: alpha(opacity=30);
   cursor: default;
}

/* ================================================================== */

/* e. Portfolio

/* ================================================================== */

.data-list {
   background: #f5f5f5 url(../images/patterns/grey.png);
   padding-top: 100px;
   padding-bottom: 120px;
}
.data-list .section-head h2 { color: #0f9095; }
.data-list .section-head p.desc { color: #999999; }
.data-list .section-head .intro { color: #A3A3A3; }

/* Portfolio Content */
.data-list-wrapper { margin-top: 36px; }
.data-list-wrapper .col {
   width: 25%;
   margin-bottom: 36px;
}

.data-list-item .item-wrap {
   background: #fff;
   overflow: hidden;

   -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
   -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.1);
   box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.1);

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.data-list-item .item-wrap a { display: block; }
.data-list-item .data-list-item-meta { padding: 12px 0; }
.data-list-item .data-list-item-meta h5 a {
   font: 13px/24px montserrat-bold, sans-serif;
   color: #0f9095;
   margin-left:0;
}

/* on hover */
.data-list-item:hover .item-wrap { background-color: #0f9095; }
.data-list-item:hover h5 a { color: #fff !important; }


/* Reveal Modal Plugin Styles
---------------------------------------------------*/
.reveal-modal-bg {
   position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}
.reveal-modal {
   visibility: hidden;
	top: 100px;
	left: 50%;
	margin-left: -300px;
   width: 600px;
	max-width: 600px;
	background: #fff;
	position: absolute;
	z-index: 101;
	padding: 0;

	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.reveal-modal .description-box { padding: 18px 36px; }
.reveal-modal .description-box h4 {
   font: 15px/24px montserrat-bold, sans-serif;
	margin-bottom: 18px;
   color: #111;
}
.reveal-modal .description-box p {
	font: 13px/24px opensans-regular, sans-serif;
   color: #A1A1A1;
   margin-bottom: 18px;
}
.reveal-modal .description-box .categories {
   font: 11px/24px opensans-regular, sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 1px;
   display: block;
}
.reveal-modal .description-box .categories i {
   margin-right: 8px;
}
.reveal-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}
.reveal-modal .link-box a {
   color: #fff;
	font: 11px/24px opensans-regular, sans-serif;
	text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.reveal-modal a:hover {	color: #00CCCC; }
.reveal-modal a.close-reveal-modal { margin-left: 28px; }

/* Testimonials
/* ------------------------------------------------------------------ */
.testimonials { margin-top: 30px }

.testimonials .client-author {
   position: relative;
}
.testimonials .client-author img {
   height: 66px;
   width: 66px;

   -moz-border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
	-khtml-border-radius: 100% 100% 100% 100%;
	border-radius: 100% 100% 100% 100%;
}
.testimonials .client-author .name {
   font: 14px/24px montserrat-bold, sans-serif;
   color: #0f9095;

   position: absolute;
   top: 6px;
   left: 80px;
}
.testimonials .client-author span {
   font-family: opensans-regular, sans-serif;
   line-height: 18px;
   font-size: 13px;
   color: #969696;
   display: block;
}
.testimonials .client-cite {
   font: 18px/36px opensans-light, sans-serif;
}

/* ================================================================== */

/* h. Call To Action

/* ================================================================== */

#call-to-action {
   background-color: #0f9095;
   padding-top: 60px;
   padding-bottom: 72px;
   color: #7fe6ed;
}
#call-to-action .action { margin-top: 12px; }
#call-to-action h2 {
   font: 34px/42px montserrat-bold, sans-serif;
   color: #fff;
   letter-spacing: -1px;
   margin-bottom: 3px;
}
#call-to-action h2 a { color: inherit; }
#call-to-action p { font-size: 17px; }
#call-to-action .button { background: #036569; }
#call-to-action .button:hover,
#call-to-action .button:active {
   background: #fff;
   color: #0F9095;
}
#call-to-action p span {
	font-family: opensans-semibold, sans-serif;
	color: #fff;
}

#message-warning, #message-success {
   display: none;
	background: #151719;
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 88%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}

#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 12px;
}



/* journal bottom nav */
.journal-bottom-nav {
   margin-top: 36px;
   margin-left: 16.66667%;
   padding-top: 5px;
   border-top: 1px solid #D1D6DB;
}
.bottom-nav {
    margin: 0;
    padding: 12px 0;
    font: 14px/36px opensans-bold, sans-serif;
 }
.bottom-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.bottom-nav li i { margin-left: 5px; }
.bottom-nav li a:hover { color: #3d4145; }
.bottom-nav .sep {
   font: 16px/36px opensans-light, sans-serif;
   margin: 0 6px;
   color: #C0C7CE;
}



/* Pagination */
.pagination { margin: 36px auto 12px auto; }
.pagination ul li {
   display: inline-block;
   margin: 0;
   padding: 0;
}

/* bottom-block */
#bottom-block {
   background: #E6E8EB;
   padding-top: 24px;
   padding-bottom: 30px;
   border-top: 1px solid #E0E0E0;
}
#bottom-block .blog-categories {
   font: 13px/30px opensans-semibold, sans-serif;
   margin: 0;
   padding: 0;
}
#bottom-block .blog-categories li {
   display: inline;
   margin-right: 15px;
}
#bottom-block .blog-categories li.current a { color: #11ABB0; }
#bottom-block .blog-categories a { color: #A0A6AB; }
#bottom-block .blog-categories a:hover { color: #5B6167; }

#bottom-block .back-to-top { text-align: right; }
#bottom-block .back-to-top a i { margin-left: 6px; }
#bottom-block .back-to-top a {
   font: 14px/30px opensans-bold, sans-serif;
   color: #11ABB0;
}


/* ================================================================== */

/* m. footer

/* ================================================================== */

footer {
   margin-top: 30px;
   margin-bottom: 30px;
   color: #303030;
   font-size: 14px;
}
footer a, footer a:visited { color: #0B686B; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 0;
   padding: 0;
   font-size: 18px;
   margin-top: -3px;
   float: right;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 24px;
}
footer .social-links li:first-child { margin-left: 0; }

/* ================================================================== */

/* n. Media Queries

/* ================================================================== */


/* small screens
--------------------------------------------------------------------- */
@media only screen and (max-width: 836px) {

   /* adjust sections padding top */
   #services, .data-list,
   #journal, #about { padding-top: 120px; }

   /* adjust font size */
   .intro, .testimonies .client-cite { font-size: 18px; }


   /* data-list section
   -------------------------------------------------------------------- */
   .data-list .data-list-wrapper { margin-top: 12px; }
   .data-list .data-list-wrapper .col { width: 33.33333%; }



}



/* mobile wide
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

   /* center align some text */
   .section-head, .intro, #about h3,
   #journal .entry-header {
      text-align: center;
   }


   /* mobile navigation
   -------------------------------------------------------------------- */

   header.mobile { height: 66px; }
   header.mobile .logo a { top: 22px; }

   .mobile #nav-wrap {
      position: absolute;
      top: 0;
      right: 20px;
      width: auto;
      margin: 0;
   }
   .mobile #nav-wrap > a {
	   width: 48px;
		height: 48px;
		text-align: left;
		background-color: #11ABB0;
		position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      }

	.mobile #nav-wrap > a:before,
   .mobile #nav-wrap > a:after {
	   position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
   .mobile #nav-wrap > a:after { top: 60%; }

   /* toggle buttons */
	.mobile #nav-wrap:not( :target ) > a:first-of-type,
	.mobile #nav-wrap:target > a:last-of-type  {
	   display: block;
	}

   /* hide menu panel */
   .mobile #nav-wrap ul#nav {
      height: auto;
		display: none;
      clear: both;
   }
   .mobile #nav-wrap ul#nav li {
      display: block;
      width: 100%;
      height: 100%;
      text-align: left;
   }
   .mobile #nav-wrap ul#nav > li.active a {
      color: #11ABB0 !important;
      background: none;
   }

   /* display menu panels */
	.mobile #nav-wrap:target > ul#nav	{
	   display: block;
      padding: 12px 25px 24px 25px;
      background: #4c4e5a;
      margin: 0;
      clear: both;
   }
   .mobile #nav-wrap ul#nav li { border-bottom: 1px dotted #595B6A; }
   .mobile #nav-wrap ul#nav li a {
      margin: 0;
      padding: 0;
      font-size: 13px;
      margin: 10px 0;
      line-height: 14px;
      border: none;
   }


   /* data-list section
   --------------------------------------------------------------------- */
    .reveal-modal {
   	margin-left: -42%;
		width: 84%;
   }

   
   /* Call To Action Section
   /* ----------------------------------------------------------------- */
   #call-to-action {
      text-align: center;
      padding-top: 60px;
      padding-bottom: 42px;
   }
   #call-to-action h2 {
      font: 30px/36px montserrat-bold, sans-serif;
      letter-spacing: -0.5px;
      margin-bottom: 6px
   }
   #call-to-action .button {
      padding-top: 12px;
      padding-bottom: 12px;
   }

   /* contact section
   ----------------------------------------------------------------------- */
   #contact label {
      display: block;
      float: none;
      width: auto;
   }
   #contact input,
	#contact textarea,
	#contact select {
      width: 100%;
      margin-bottom: 30px;
	}
   #contact button.submit {
      margin-left: 0;
   }
   #message-warning,
   #message-success {
      width: 100%;
   }


   /* Blog Post
   ------------------------------------------------------------------ */
   .post, #blog-entries .post { padding-top: 84px; }
   .post .entry-header h1 {
      float: none;
	   width: 100%;
      font-size: 32px;
      line-height: 42px;
      text-align: center;
   }
   .post .post-meta {
      float: none;
      width: 100%;
      padding-right: 0;
      text-align: center;
   }

   .post .post-meta .categories,
   .post .post-meta .date,
   .post .post-meta .categories a { display: inline }

   .post .post-meta .date:before,
   .post .post-meta .categories:before { content: none }

   .post .post-meta .date {
      font: 13px/18px opensans-bold, sans-serif;
      color: #3D4149;
   }
   .post .post-meta .categories {
      font: 13px/18px opensans-regular, sans-serif;
   }
   /* show sep */
   .post .post-meta .categories .sep {
      display: inline;
      margin-right: 5px;
      font: 13px/18px opensans-light, sans-serif;
   }

   /* bio */
   .post .bio {
      padding-top: 17px;
      border-top: 1px solid #E0E0E0;
   }
   .post .bio .gravatar {
      float: none;
      width: 72px;
      margin: 0 auto 18px auto;
   }
   .post .bio .about {
      width: 100%;
      float: none;
      padding-left: 0;
      text-align: center;
   }

   /* post-nav */
   .post .post-nav { margin-top: 18px; }
   .post .post-nav li {
      display: block;
      margin: 0 0 18px 0;
      width: 100%;
   }
   .post .post-nav li.next {
      float: none;
      text-align: center;
   }
   .post .post-nav li.prev {
      float: none;
      text-align: center;
   }

   /* Comments*/
   #comments h3 {
      text-align: center;
      margin-left: 0;
   }

   /* Comments List */
   ol.commentlist {
      width: 100%;
      margin-left: 0;
   }
   .commentlist  li .avatar { display: none; }

   /* comment form */
   #comments form { margin-left: 0; }
   #comments form input,
   #comments form textarea,
   #comments form select {
      width: 100%;
   }

   /* journal bottom nav */
   .journal-bottom-nav {
      margin-left: 0;
      text-align: center;
   }

   /* Blog-Entries
   ------------------------------------------------------------------ */
   #bottom-block .blog-categories {
      text-align: center;
   }
   #bottom-block .back-to-top {
      margin-top: 30px;
      text-align: center;
   }


   /* footer
   ------------------------------------------------------------------------ */
   footer .copyright li:before { content: none; }
   footer .copyright li { margin-right: 10px; }
   footer .copyright, footer .social-links {
      text-align: center;
      float: none;
   }
   footer .social-links { margin-top: 12px; }

}

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 460px) {

   /* intro section
   ------------------------------------------------------------------------- */
   .slider-text { margin-top: 108px; margin-bottom: 36px; }
   .slider-text h2 { font: 32px/42px montserrat-regular, sans-serif; }
   .slider-text p {
      font: 12px/24px opensans-regular, sans-serif;
      margin-top: 24px;
   }

    /* journal section
   ------------------------------------------------------------------------- */
   #journal .entry-title h3 {
     font-size: 28px;
     line-height: 36px;
   }

}



