<section class="data-list"  lr-infinite-scroll="loadMoreAlbums">

      <div class="row section-head">
         <div class="col full">

            <!--<h2>Albums <a href="index.html#/artists/{{artistName}}" class="back">Back</a></h2>-->
            <h2>Albums - <span>{{artistName}}</span> </h2>


         </div>
      </div>

      <div class="row">

		   <!-- Portfolio Wrapper -->
		   <div class="data-list-wrapper" >

			   <div class="col data-list-item" ng-repeat="album in albumsData track by $index">
               <div class="item-wrap" ng-if="album.name!=''">
					   <a href="#tracks/{{album.name | clean}}" data-reveal-id="modal-01">
                       <span ng-if="album.images!=''">
    	                   <img ng-src="{{ album.images[1].url}}" title="{{album.name}}" alt="{{album.name}}">
                       </span>
                       
                       <span ng-if="album.images==''">
	                       <img src="http://placehold.it/217x228&text={{album.name}}">
                       </span>
                       
                       </a>
					   <div class="data-list-item-meta">
						  <span class="favItems" title="Add to Favorites" ng-click="addAlbum(album.name)"></span>
                          <h5><a href="#tracks/{{album.name | clean}}" title="{{album.name}}">{{album.name}}</a></h5>
                           
					   </div>
               </div>
			   </div>


		   </div> <!-- Artists Wrapper End -->
			
            <span ng-show="isLoading" class="loading">Loading ...</span>

		</div> <!-- End Row -->




   </section>