<section class="search-wrapper">
    <input type="text" ng-model="artistName" class="search-box">
    <button ng-click="getArtistDetails()" class="go-btn">Go</button>
</section>

   <!-- Artists Section
   ================================================== -->
   <section class="data-list"  lr-infinite-scroll="loadMoreArtist">

      <div class="row section-head">
         <div class="col full">

            <h2 ng-show="keyword!=null">Artist - <span>{{keyword}}</span></h2>
			<h2 ng-show="keyword==null">Welcome, Please enter Artist Name !</h2>

         </div>
      </div>

      <div class="row">

		   <!-- Portfolio Wrapper -->
		   <div class="data-list-wrapper" >

			   <div class="col data-list-item" ng-repeat="artist in artistsData track by $index">
               <div class="item-wrap" ng-if="artist.name!=''">
					   <a href="#albums/{{artist.name | clean}}" data-reveal-id="modal-01">
                       <span ng-if="artist.images!=''">
    	                   <img ng-src="{{ artist.images[1].url}}" title="{{artist.name}}" alt="{{artist.name}}">
                       </span>
                       
                       <span ng-if="artist.images==''">
	                       <img src="http://placehold.it/217x228&text={{artist.name}}">
                       </span>
                       
                       </a>
					   <div class="data-list-item-meta">
						  <span class="favItems" title="Add to Favorites" ng-click="addArtist(artist.name)"></span><h5>
                          <a href="#albums/{{artist.name | clean}}" title="{{artist.name}}">{{artist.name}}</a></h5>
					   </div>
               </div>
			   </div>


		   </div> <!-- Artists Wrapper End -->
			
            <span ng-show="isLoading" class="loading">Loading ...</span>

		</div> <!-- End Row -->




   </section> <!-- Artists End -->