<section class="data-list"  lr-infinite-scroll="loadMoreAlbums">

      <div class="row section-head">
         <div class="col full">

            <h2>Favorites</h2>


         </div>
      </div>

      <div class="row tracks-page">

		   <!-- Portfolio Wrapper -->
		   <div class="data-list-wrapper" >
           <!--<div class="track-wrapper">
           		<img ng-src="{{tracksData[0].album.images[1].url}}" />
           </div>-->
           
           	<ul class="track-list">
            	<li ng-repeat="str in storage.data track by $index" ng-show="str.val!=null">{{str.val}} <span class="st-type">( {{str.type}} )</span>
                	<div class="button-groups"><span class="del" ng-click="removeStorage($index)" title="Remove from Favorites"></span></div>
                 </li>
            </ul>
	
			   


		   </div> <!-- Artists Wrapper End -->
			
            <span ng-show="isLoading" id="loading">Loading ...</span>

		</div> <!-- End Row -->




   </section>