<section class="data-list"  lr-infinite-scroll="loadMoreAlbums">

      <div class="row section-head">
         <div class="col full">

            <h2>Tracks - <span>{{tracksOf}}</span></h2>


         </div>
      </div>

      <div class="row tracks-page">

		   <!-- Portfolio Wrapper -->
		   <div class="data-list-wrapper" >
           <!--<div class="track-wrapper">
           		<img ng-src="{{tracksData[0].album.images[1].url}}" />
           </div>-->
           
           	<ul class="track-list">
            	<li ng-repeat="track in tracksData">{{track.name}} 
                	<div class="button-groups"><span class="fav" title="Add to Favorites" ng-click="addTracks(track.name)"></span>
                    <a href="{{track.preview_url}}" target="_blank" class="play" title="Preview Track"></a></div>
                 </li>
            </ul>

			   <div class="col data-list-item" ng-repeat="album in albumsData track by $index">
               <div class="item-wrap" ng-if="album.name!=''">
					   <a href="#tracks/{{album.name | clean}}" data-reveal-id="modal-01">
                       <span ng-if="album.images!=''">
    	                   <img ng-src="{{ album.images[1].url}}" title="{{album.name}}" alt="{{album.name}}">
                       </span>
                       
                       <span ng-if="album.images==''">
	                       <img src="http://placehold.it/217x228&text={{album.name}}">
                       </span>
                       
                       </a>
					   <div class="data-list-item-meta">
						   <h5><a href="#tracks/{{album.name | clean}}">{{album.name}}</a></h5>
					   </div>
               </div>
			   </div>


		   </div> <!-- Artists Wrapper End -->
			
            <span ng-show="isLoading" class="loading">Loading ...</span>

		</div> <!-- End Row -->




   </section>